<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="parentTable" value="Games"></add>
		<add key="childTable" value="GamesGenre"></add>
		<add key="foreignKey" value="game_id"></add>
	</appSettings>
</configuration>