* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f4f4f4;
}

.navbar {
	width: 100%;
}

.navbar ul {
	display: flex;
	list-style: none;
}

.navbar ul li {
	color: #333;
	display: inline-block;
	padding: 1rem;
	position: relative;
}

.navbar ul li a {
	color: #333;
	text-decoration: none;
}

.navbar ul li ul {
	display: none;
	width: 100%;
}

.navbar ul li:hover {
	cursor: pointer;
	background-color: coral;
	color: #fff;
}

.navbar ul li:hover a {
	color: #fff;
}

.navbar ul li:hover ul {
	display: block;
	position: absolute;
	background-color: coral;
	left: 0;
	margin-top: 1rem;
}

.navbar ul li:hover ul li {
	display: block;
	background-color: #e7e7e7;
}

.navbar ul li:hover ul li a {
	color: #333;
}

.navbar ul li:hover ul li:hover {
	background: #c0c0c0;
	color: inherit;
}

@media (max-width: 768px) {
	.navbar ul {
		flex-direction: column;
	}

	.navbar ul li:hover ul {
		width: 100%;
		position: relative;
	}
}
